<article class="item well">
	<h3 class="item-title">{{worry.title}}</h3>
	<div class="detail item-type">
		{{#if worry.real}}
			<strong>Real</strong> 
		{{else}}
			<strong>Hypothetical</strong>
		{{/if}} 
	</div>
	<div class="panel panel-default description">
		<div class="panel-body">
			<p class="text-description">{{worry.description}}</p>
			<div class="worry-date">
				<strong>Date: </strong>{{worry-item-date worry.created}}<br/>
			</div>
			{{#if worry.deadline}}
				<div class="worry-date">
					<strong>Deadline: </strong>{{worry-item-date worry.created}}
				</div>
			{{/if}}
		</div>
	</div>
</article>
